.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid #c4b2b2;
  background-color: #ffffff;
  padding: 1.5rem;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(229, 102, 34, 0.05);
  margin-bottom: 2rem;
}

.card-spotlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), #dc4d344a, transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}

.new-styles {
    position: relative;
    border-radius: 0.5rem;
    background-color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(229, 102, 34, 0.05);
    margin-bottom: 0;
}

