.home-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.load-more-btn {
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  border-radius: var(--radius);
  border: var(--border);
  background: var(--bg-light);
}

@media (max-width: 900px) {
  .home-main {
    grid-template-columns: 1fr;
  }
}