.page-container {
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

/* Two columns - main */
.main-left {
  flex: 1;
  min-width: 250px; /* prevents breaking */
}

.main-right {
  flex: 3;
  /* allows shrinking on mobile */
  min-width: 0; 
}

/* Card wrapper */
.card {
  background: var(--bg-card);
  border: var(--border);
  border-radius: var(--radius);
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: var(--shadow);
}


.page {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;   
    padding: 10px;
  }

  .main-left,
  .main-right {
    width: 100%;
    min-width: unset;
  }
}